.category-list {
    margin-left: 20px;
}

.category-list li {
    padding: 2px;
}

.category-list li .category-item {
    padding: 2px 5px;
    margin: 0;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.category-list li .category-item.selected {
    background-color: #f7f7f9;
}

.category-list li .category-item .btn{
    padding: 6px;
}

.category-list:first-child {
    margin-left: auto;
}

